.donacije{
    min-height: 100vh;
    --max-width: 1300px;
    --padding: 1rem;
    margin-inline: auto; /* da postavi left and right -> Logical Property */
    width: min(var(--max-width), 100% - (2*var(--padding)));
}

.button{
    font-family: 'Jost', sans-serif;
    letter-spacing: 2px;
    border: none;
    margin: 40px 0px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.donacija{
    background-color: #5f5151;
}