.donacija > h1{
    color: var(--clr-accent-500);
    font-size: var(--fs-500);
    margin-bottom: 10px;
}

.donacija:not(:last-child){
    margin-bottom: 30px;
}

.tablica{
    width: 100%;
    border-collapse:collapse
}

.red{
    text-align: center;
}

.red th, .red td{
    padding: 10px 0px;;
}

.tablica > thead{
    border-bottom: 1px solid #717171;
}

.botunired button{
    font-family: 'Jost', sans-serif;
    letter-spacing: 2px;
    border: none;
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--clr-accent-500);
    color: white;
}



.botuniadmin button:first-child{
    background-color: green;
    margin-right: 10px;
}

.botuniadmin button:nth-child(2){
    background-color: red;
}

@media(max-width: 768px){
    .botunired button{
        padding: 15px 10px;
    }
    .red th, .red td{
        padding: 20px 5px;
    }

    .botuniadmin{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .botuniadmin button{
        width: 100%;
    }
}