.carousel{
    width: 100%;
    height: calc(100vh - 80px)
}

.carousel img{
    height: inherit;
    object-fit: cover;
    width: 100%;
}

.slide{
    position: relative;
}

.overlay{
    z-index: 10;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.458);
    color: white;
}

.overlaytext{
    font-size: var(--fs-550);
    text-align: center;
}